<SiteConfig>
  <webSettings>
    <add key="siteUrl" value="http://test.test.test"/>
    <add key="loginUrl" value="http://test.test.test"/>
    <add key="webAuthCookieName" value=".Identity"/>
    <add key="adminAuthCookieName" value=".Admin_Identity"/>
  </webSettings>
  <uploadSettings
      uploadPath=""
      downloadUrl="http://test.test.test"
      uploadServerUrl="http://test.test.test"
      isEnableLocalPath="false"
      key="e10adc3949ba59abbe56e057f20f883e" 
   />
  <connections>
    <add name="SiteWebDb" connectionString="server=.;database=testdb;uid=sa;pwd=123456" />
  </connections>
</SiteConfig>